<div class="row">
    <div class="col-xs-12">
        <h1>Share about a plan</h1>
        <p>Regardless of whether or not you have had transition-related care, you can still help out. Please report information that you know about your insurance and its coverage of transition-related care. You can find this information through your insurance plan brochure (<a href="https://www.fepblue.org/en/benefit-plans/benefit-plans-brochures-and-forms/#tab-brochures" target="_blank">See an example</a>) and search for the words “sex” and “gender” to see if transition-related care is excluded.</p>
        <p>If you have had transition-related care, you can also fill out specific information about your experience <a href="#/share/experience">here</a>.</p>
    </div>
    <form>
        <h2 class="col-xs-12">Tell us about your plan</h2>
        <div class="form-group col-xs-12 col-sm-2">
            <label for="state" class="control-label">State <span class="text__primary">*</span></label>
            <select id="state" class="form-control" data-ng-model="state">
                <option selected></option>
                <option>AL</option>
                <option>AK</option>
                <option>AZ</option>
                <option>AR</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DE</option>
                <option>FL</option>
                <option>GA</option>
                <option>HI</option>
                <option>ID</option>
                <option>IL</option>
                <option>IN</option>
                <option>IA</option>
                <option>KS</option>
                <option>KY</option>
                <option>LA</option>
                <option>ME</option>
                <option>MD</option>
                <option>MA</option>
                <option>MI</option>
                <option>MN</option>
                <option>MS</option>
                <option>MO</option>
                <option>MT</option>
                <option>NE</option>
                <option>NV</option>
                <option>NH</option>
                <option>NJ</option>
                <option>NM</option>
                <option>NY</option>
                <option>NC</option>
                <option>ND</option>
                <option>OH</option>
                <option>OK</option>
                <option>OR</option>
                <option>PA</option>
                <option>RI</option>
                <option>SC</option>
                <option>SD</option>
                <option>TN</option>
                <option>TX</option>
                <option>UT</option>
                <option>VT</option>
                <option>VA</option>
                <option>WA</option>
                <option>WV</option>
                <option>WI</option>
                <option>WY</option>
            </select>
        </div>

        <div class="form-group col-xs-12 col-sm-5">
            <label for="company" class="control-label">Company <span class="text__primary">*</span></label>
            
            <input list="companies" id="company" class="form-control" data-ng-model="company"/>
            <datalist id="companies">
                <option>Humana</option>
                <option>Cigna</option>
                <option>Aetna</option>
                <option>Blue Cross Blue Shield</option>
            </datalist>
        </div>
        
        <div class="form-group col-xs-12 col-sm-5">
            <label for="plan" class="control-label">Plan <span class="text__primary">*</span></label>
            <input list="plans" id="plan" class="form-control" data-ng-model="plan"/>
            <datalist id="plans">
                <option>Bronze A</option>
                <option>Bronze B</option>
                <option>Basic Plan</option>
            </datalist>
        </div>
        
        
        <h2 class="col-xs-12">Tell us about the plan exclusions</h2>
        <div class="form-group col-xs-12">
            <label>Is all transition-related care excluded?</label>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="radio"></div>
                    <div class="radio col-xs-6 radio-btn radio-btn__primary">
                        <input name="allExcluded" id="all-yes" type="radio" value="yes" data-ng-model="allExcluded" data-ng-true-value="yes" required />
                        <label for="all-yes">
                            Yes
                        </label>
                    </div>

                    <div class="radio col-xs-6 radio-btn radio-btn__primary">
                        <input name="allExcluded" id="all-no" type="radio" value="no" data-ng-model="allExcluded" data-ng-true-value="no" required />
                        <label for="all-no">
                            No
                        </label>                
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-show="allExcluded == 'no'">
            <div class="form-group col-xs-12 col-sm-6">
                <label>Is hormone therapy/medication excluded?</label>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="radio"></div>
                        <div class="radio col-xs-6 radio-btn radio-btn__secondary">
                            <input name="hormones-excluded" id="hormones-yes" type="radio" value="yes" data-ng-model="hormonesExcluded" data-ng-true-value="yes" required />
                            <label for="hormones-yes">
                                Yes
                            </label>
                        </div>

                        <div class="radio col-xs-6 radio-btn radio-btn__secondary">
                            <input name="hormones-excluded" id="hormones-no" type="radio" value="no" data-ng-model="hormonesExcluded" data-ng-true-value="no" required />
                            <label for="hormones-no">
                                No
                            </label>                
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group col-xs-12 col-sm-6">
                <label>Is surgery excluded?</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="radio"></div>
                        <div class="radio col-xs-6 radio-btn radio-btn__secondary">
                            <input name="surgeryExcluded" id="surgery-yes" type="radio" value="yes" data-ng-model="surgeryExcluded" data-ng-true-value="yes" required />
                            <label for="surgery-yes">
                                Yes
                            </label>
                        </div>

                        <div class="radio col-xs-6 radio-btn radio-btn__secondary">
                            <input name="surgeryExcluded" id="surgery-no" type="radio" value="no" data-ng-model="surgeryExcluded" data-ng-true-value="no" required />
                            <label for="surgery-no">
                                No
                            </label>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <button class="btn btn-default" data-ng-click="submitplan()">Submit</button>
        </div>
    </form>
</div>