/* VARIABLES */
$primary-color: #5bcefa;
$secondary-color: #f5a9b8;

@import 'utilities/mixins';

body {
    background-color: desaturate(lighten($secondary-color, 18%), 50%);
}

.container {
    max-width: 700px;
}
.text {
    &__primary {
        color: $primary-color;
    }
    
    &__secondary {
        color: $secondary-color;
    }
}
.header {
    margin-bottom: 2em;
    padding: .3em;
    
    background-color: $primary-color;
    
    &--title {
        margin: .3em 0;

        font-size: 2em;

        color: #FFF;
        
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    
    &--buttons {
        text-align: left;
        
        @media (min-width: 768px) {
            text-align: right;
        }
    }
}


.btn {
    &__primary {
        background-color: $primary-color;
        color: #fff;
    }
    
    &__secondary {
        background-color: $secondary-color;
        color: #fff;
    }
    
}


/* COMPONENTS */
@import '../../app/components/search/search';
@import '../../app/components/results/results';
@import '../../app/components/share-experience/share-experience';