<div class="row">
    <form>
        <div share-general></div>
        
        <h4>Is all transition care excluded?</h4>
        <div class="radio">
            <label>
                <input type="radio" name="all-excluded" data-ng-model="yes" value="yes">
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="all-excluded" data-ng-model="no" value="no">
                No
            </label>
        </div>
    </form>
</div>