<div class="row">
    <div class="col-xs-12">
        <h1>Frequently Asked Questions</h1>

        <h3>How does healthcare work in the US?</h3>
        <p>In the US, most people get insurance through three main forms: an employer-provided plan, Medicare or Medicaid subsidized by the government, or an individual plan purchased through state insurance exchanges. <a href="https://www.cms.gov/CCIIO/Resources/Files/Downloads/uniform-glossary-final.pdf" target="_blank">Here</a> is a glossary of health coverage and medical terms with an example at the end. To find out what your plan offers you, you should look for a Summary of Benefits and Coverage. <a href="https://www.cms.gov/CCIIO/Resources/Files/Downloads/sbc-sample.pdf" target="_blank">Here</a> is an example. </p>

        <h3>What is an exclusion or excluded services?</h3>
        <p>Excluded services are health care services that your health insurance doesn't pay for or cover.  Whether or not an insurance company will cover transition-related surgery differs largely by insurance, by plan, and by state. Some states have bans on insurance exclusions for transgender healthcare and some have inclusive health benefits for state employees. Within state, insurance companies and plans can have different levels of coverage. You can search for "Transgender Healthcare" in <a href="http://www.hrc.org/state_maps" target="_blank"> this map </a>. </p>

        <h3>What are coverage criteria for getting gender reassignment surgery (other terms may include "criteria for admission", "medical necessary criteria")?</h3>
        <p>Insurance companies use medically necessary criteria to decide whether or not to cover a procedure. <a href="https://www.healthpartners.com/public/coverage-criteria/gender-reassignment/" target="_blank">Here's</a> an example of one insurance company's coverage criteria. For example, a coverage criteria for most transition-related care is persistent and well-documented gender dysphoria.</p>

        <h3>What is a formulary?</h3>
        <p>In the context of insurance, a formulary is the set of prescription drugs available to plan enrollees. Specific prescription drugs can be covered at different rates, where lower cost drugs may have lower cost sharing, e.g. 10% co-insurance (the amount of covered health care costs that the patient is responsible for, see <a href="https://www.cms.gov/CCIIO/Resources/Files/Downloads/uniform-glossary-final.pdf" target="_blank">glossary</a>).</p>

        <h3>Where do you get the data in your application Trans-Health?</h3>
        <p>TThe data is from other people reporting their experiences <a href="#/share/experience">filing claims</a> for care as well as people reporting information they know about <a href="#/share/plan">their plan</a>. None of the data is independently verified.</p>

        <h3>How do I find out if I am covered?</h3>
        <p>The best course of action is to call your insurer. While this application gives you data from other people's experiences, ultimately each individual situation is different. Hopefully, this application will help transgender people chose healthcare options that best fit their needs. In addition, transgender people can also work with their employers to negotiate out exclusionary statements and for affirmative coverage.</p>
    </div>

</div>