.search {
    background-color: lighten($secondary-color, 15%);
    padding: 1em;
    overflow: hidden;
    margin-top: 1em;
    border: 1px solid lighten($secondary-color, 10%);
    
    &--button{
        margin-top: 1.7em;
    }
}