<div class="row">
    <h1 class="text-center col-xs-12">Search for insurance coverage</h1>
    
    <form class="search col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="form-group col-sx-12 col-sm-3" data-ng-class="{'has-error': err}">
            <label for="state" class="control-label">State <span class="text__primary">*</span></label>
            <select id="state" class="form-control" data-ng-model="state">
                <option selected></option>
                <option>AL</option>
                <option>AK</option>
                <option>AZ</option>
                <option>AR</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DE</option>
                <option>FL</option>
                <option>GA</option>
                <option>HI</option>
                <option>ID</option>
                <option>IL</option>
                <option>IN</option>
                <option>IA</option>
                <option>KS</option>
                <option>KY</option>
                <option>LA</option>
                <option>ME</option>
                <option>MD</option>
                <option>MA</option>
                <option>MI</option>
                <option>MN</option>
                <option>MS</option>
                <option>MO</option>
                <option>MT</option>
                <option>NE</option>
                <option>NV</option>
                <option>NH</option>
                <option>NJ</option>
                <option>NM</option>
                <option>NY</option>
                <option>NC</option>
                <option>ND</option>
                <option>OH</option>
                <option>OK</option>
                <option>OR</option>
                <option>PA</option>
                <option>RI</option>
                <option>SC</option>
                <option>SD</option>
                <option>TN</option>
                <option>TX</option>
                <option>UT</option>
                <option>VT</option>
                <option>VA</option>
                <option>WA</option>
                <option>WV</option>
                <option>WI</option>
                <option>WY</option>
            </select>
        </div>
        
        <div class="form-group col-sx-12 col-sm-6">
            <label for="query" class="control-label">Company, plan, or procedure name</label>
            <input type="search" id="query" class="form-control" data-ng-model="query"/>
        </div>
        {{ test }}
        <div class="form-group col-sx-12 col-sm-3">
            <button class="btn btn__primary search--button col-xs-12" data-ng-click="searchPlan(state, query)">Search</button>
        </div>
<!--
        <div class="checkbox col-xs-12 col-sm-3">
            <div class="col-xs-6 col-sm-12">
                <input class="search--check" type="checkbox" value="medicaid" id="medicaid"/> 
                <label for="medicaid" class="col-xs-12">Medicaid</label>
            </div>
            <div class="col-xs-6 col-sm-12">
                <input class="search--check" type="checkbox" value="exchange" id="exchange"/> 
                <label for="exchange" class="col-xs-12">Exchange</label>
            </div>
        </div>
-->
    </form>
    
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <p>Whether or not an insurance company will cover transition-related care differs largely by insurance, by plan, and by state.</p>

        <p>This app collects data from other people's experiences either in filing a claim and trying to <a href=”#/share/experience”>get coverage</a> or in reporting information that they know about their <a href=”#/share/plan”>insurance plan(s) </a>. Hopefully, this app will help transgender people chose healthcare options that best fit their needs.</p>

        <p>While the data is incredibly valuable, each individual situation is different. The best way to find out if you are covered for specific care is to call your insurance company. Questions? Check out our <a href="#/faq">FAQ</a> page.</p>
    </div>
</div>

